<a href="https://colab.research.google.com/github/TasnimZannatNaima/EDGEIT22001/blob/main/naima20dec.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Casting:**

In [ ]:
x = int(1)
y = int(2.8)
z = int("3")
x1 = float(1)     # x will be 1.0
y1= float(2.8)   # y will be 2.8
z1 = float("3")   # z will be 3.0
x2 = str("s1") # x will be 's1'
y2 = str(2)    # y will be '2'
z2 = str(3.0)  # z will be '3.0'
print(x)
print(y)
print(z)
print(x1)
print(y1)
print(z1)
print(x2)
print(y2)
print(z2)

1
2
3
1.0
2.8
3.0
s1
2
3.0

**Python String**

In [ ]:
print("Hello")
print('Hello')
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')
a = "Hello"
print(a)
a1 = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a1)
a2 = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a2)

*Array String:

In [ ]:
a = "Hello, World!"
print(a[1])

*Looping Through a String:

In [ ]:
for x in "banana":
  print(x)

*String Length

In [ ]:
a = "Hello, World!"
print(len(a))

Check String:

In [ ]:
txt = "The best things in life are free!"
print("free" in txt)

In [ ]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

In [ ]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

Python - Slicing Strings

In [ ]:
b = "Hello, World!"
print(b[-5:-2])
print(b[2:])
print(b[:5])
print(b[2:5])

Python - Modify Strings

In [ ]:
a = "Hello, World!"
print(a.lower())
print(a.upper())
print(a.strip()) # returns "Hello, World!"
print(a.replace("H", "J"))
print(a.split(",")) # returns ['Hello', ' World!']

Python - String Concatenation

In [ ]:
a = "Hello"
b = "World"
c1 = a + b
print(c1)
c2 = a + " " + b
print(c2)

Python - Format - Strings

In [ ]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

In [ ]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

In [ ]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

In [ ]:
txt = f"The price is {20 * 59} dollars"
print(txt)

Python - Escape Characters

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

**Python Operators**

In [ ]:
print(10 + 5)
print(10 - 5)
print(10 * 5)
print(10 / 5)
print(10 % 5)
print(10 ** 5)
print(10 // 5)
print(5 + 4 - 7 + 3)
print((6 + 3) - (6 + 3))
print(100 + 5 * 3)